html {
    height: 100%;
    width: 100%;
  }
  
body {
  
    background-color: #F8F0E3; /* off white/beige rather than a harsh pure white background */
      
    /* Customize the font, size, and color for text*/
    font-family: courier; /* system font to maximize cross compatibility/load time */
    font-size: 24px;
    color: black;
  
      /* Adjust the padding and margins */
    padding: 20px;

    margin: 20px;
 
  }
  h3 {
    font-weight: bold;
  }
  .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #555;
  }

  .text {
    text-align: left;
  }
  
  .column {
    float: left;
  }

  .left {
    width: 35%;
  }
  
  .right {
    width: 65%;
  }

  .row2 {
    display: flex;
  }
  
  .column2 {
    flex: 50%;
  }